<% google_key = "AIzaSyBCKQWlLkk8eBUbTUwNlD8rCVMOmy4r_MQ"
  %>
<div id="map" style="height: 400px;"></div>
    <script>

    var points = <%= raw @map.points.to_json %>;

    // This example adds a marker to indicate the position of Bondi Beach in Sydney,
    // Australia.
    function initMap() {
      var bounds = new google.maps.LatLngBounds();

      var map = new google.maps.Map(document.getElementById('map'));


      var image = '/icons/trollface.png';

      var marker, loc;
      points.forEach(function (point){
        loc = new google.maps.LatLng(point.lat, point.long);
        bounds.extend(loc);
        marker = new google.maps.Marker({
          //position: {lat: point.lat, lng: point.long},
          position: loc,
          map: map,
          icon: image
        });
      });

      map.fitBounds(bounds);
      map.panToBounds(bounds);

      points.forEach(function (point) {
        console.log({lat: point.lat, lng: point.long})
      })
    }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= google_key %>&signed_in=true&callback=initMap"></script>
  </body>
</html>
