<h1>Maps</h1>

<div><%= render :partial => "upload_form", :locals => {:map => @map || Map.new} %></div>


<div class="row">
  <div class="col-md-8">
    <% @maps.each do |map| %>
      <div class="media">
        <div class="media-body">
          <h4><span class="label label-default">
            <%= link_to map.name, map %>
          </span></h4>
          <small>
            <%= map.description %>
          </small>
        </div>
      </div>
    <% end %>
  </div>
</div>
